doctype html
html
  head
    title= title + ' | ' + appname
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/annotator.min.css")
    

  body
    .container
      .navbar.navbar-default
        .container
          .navbar-header
            a.navbar-brand(href='/')= appname
            
      .alert.alert-dismissable
      
      
      h1= title
      
      p Taha | STATIC_CONTENT: Todo App 
      p Node.js, MongoDB, Mongoskin, Express.js, Jade
      p jQuery, Bootstrap.js, Annotator.js, Backbone.js, Angular.js
      p TODO | burasi ve her yer Editable olmalý.
      |. 
      
      block content
      
  script(src='/javascripts/jquery.js', type="text/javascript")
  script(src='/javascripts/annotator-full.min.js', type="text/javascript")
  script(src='/javascripts/main.js', type="text/javascript")
  
  <!-- Aþaðýdaki kýsmý ben ekledim, ama gereksiz; ad-hoc javascript'ler main.js'ye taþýnmalý. -->
  <script type='text/javascript'>
  </script>